@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Bebas+Neue&display=swap');

.App {
  text-align: center;
}

img {
    display: block;
    margin-left: 0;
}

h2{
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    display: flex;
}

.box {
    flex: 1;
}

p{
    color:#888;
    font-size:0.8rem;
    font-style:normal;
}





